.text-white {
	color: white;
}
.text-dark-blue {
	color: hsl(243, 58%, 33%);
}
.text-soft-blue {
	color: hsl(243, 86%, 85%);
}
.text-center {
	text-align: center;
}
p, h4, h5, h3, h2, h1 {
    margin: 0;
}
h6 {
    font-size: 110%;
}
h5 {
    font-size: 120%;
}
h4 {
    font-size: 130%;
}
h3 {
    font-size: 150%;
}
h2 {
    font-size: 170%;
}
h1 {
    font-size: 220%;
}